<div class="panel panel-default">
  <div class="panel-heading clearfix" >
    <h2 class="col-xs-8"><strong>{{contact?.name}}</strong></h2>
    <div class="pull-right">
      <a class="btn btn-primary" href="#" role="button">Edit</a>
      <a class="btn btn-danger" href="#" role="button">Delete</a>
    </div>
    <div class="pull-left">
      <img src="{{contact?.imageUrl}}">
    </div>
  </div>
  <div class="panel-body">
    <div><strong>Email:</strong>{{contact.email}}</div>
    <div><strong>giPhone:</strong>{{contact.phone}}</div>
  </div>
</div>
